{% import "partials/_macros.twig" as macros %}
<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            {{ macros.menuItem("Home", "/") }}
            {{ macros.menuItem("Books", "/books") }}
        </ul>

    </div>
</nav>